.header-4 {
    background-color: whitesmoke;
    padding: 30px;
}

.h1-p {
    text-align: center;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
    color: black;
}

.image{
    
    height: 200px;
}