.header-3 {
    /* background-color: brown; */
    padding: 30px;
}

.h1-s {
    text-align: center;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
    color: black;
}
.sC-2{
    background-color: rgb(184, 179, 179);
    margin: 50px;
    border-radius: 10px;
}
h6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 20px;
}


.s-Span{
  margin: 10px 20px;


}
.sM-img{
    background-color: azure;
    padding: 30px;
    margin: 30px 0px;
    border-radius: 10px;
}

.sI{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.h5{
    text-align: center;
}

/* @media only screen and (max-width: 600px) {
    
} */
